.info
  = render 'offices/shared/header'
  .info__image
    .info__image__left
      %p 　　　　　　　　　　　　　　　　
      %p Wel.Net...
      %p 　　　　　　　　　　　　　　　　
      %p 介護・保育・医療など
      %p 　　　　　　　　　　　　　　　　
      %p 福祉全般の
      %p 　　　　　　　　　　　　　　　　
      %p 総合情報サイトです
    .info__image__right
      %p ↑↑　　↑↑　　↑↑　　
      %p 　　　　　　　　　　　　　　　　
      %p サービスをお探しの方は
      %p 上記「利用者様より」新規登録
      %p をお願いいたします
      %p ---------------------------------------------------
      %p 　　　　　　　　　　　　　　　　
      %p サービスのご紹介をしてくださる
      %p 事業所様は上記「事業者様」より
      %p 新規登録をお願いいたします

    %div.slick
      %div
        %img{alt: "介護",src: "18df9e57223a7c1b44149b83db9593a0_w.jpg"}
      %div
        %img{alt: "保育",src: "9497efd44913e48ae7434b0a08c00956_w.jpg"}
      %div
        %img{alt: "相談",src: "0d9c20fe032ce770d4ae11ce85851b42_w.jpg"}
      %div
        %img{alt: "家族",src: "00a315137469b1ef00bcaba1b3b22e9e_t.jpeg"}
      %div
        %img{alt: "老夫婦",src: "e4a02113f81d15c24c0311fe6f17cbb5_w.jpg"}
      %div
        %img{alt: "家",src: "eb6935419a2d65a242f8f2891d48d415_w.jpg"}
  .info__contents
    .info__contents__left
      .info__contents__left__header
        介護
      - @informations.each do |information|
        .info__contents__left__list
          .info__contents__left__list__box
            .info__contents__left__list__box__name
              = link_to information_path(information.id), method: :get do
                =information.name
            .info__contents__left__list__box__cities
              %p= information.prefecture
              %p= information.city
    .info__contents__center
      .info__contents__center__header
        保育
      - @informations.each do |information|
        .info__contents__center__list
          .info__contents__center__list__box
            .info__contents__center__list__box__name
              = link_to information_path(information.id), method: :get do
                =information.name
            .info__contents__center__list__box__cities
              %p= information.prefecture
              %p= information.city
    .info__contents__right
      .info__contents__right__header
        障がい
      - @informations.each do |information|
        .info__contents__right__list
          .info__contents__right__list__box
            .info__contents__right__list__box__name
              = link_to information_path(information.id), method: :get do
                =information.name
            .info__contents__right__list__box__cities
              %p= information.prefecture
              %p= information.city
  
