.info
  .info__header
    福祉総合情報サイトWel-Net
  .info__image
    %div.slick
      %div
        %img{alt: "介護",src: "18df9e57223a7c1b44149b83db9593a0_w.jpg"}
      %div
        %img{alt: "保育",src: "9497efd44913e48ae7434b0a08c00956_w.jpg"}
      %div
        %img{alt: "相談",src: "0d9c20fe032ce770d4ae11ce85851b42_w.jpg"}
      %div
        %img{alt: "家族",src: "00a315137469b1ef00bcaba1b3b22e9e_t.jpeg"}
      %div
        %img{alt: "老夫婦",src: "e4a02113f81d15c24c0311fe6f17cbb5_w.jpg"}
      %div
        %img{alt: "家",src: "eb6935419a2d65a242f8f2891d48d415_w.jpg"}
  .info__contents
    - @informations.each do |information|

      .info__contents__list
        %p= information.name
        %p= information.prefectures
        %p= information.cities
        %p= simple_format(information.text)
        %p= information.image

      .info__contents__list__show
        = link_to information_path(information.id), method: :get do
          詳細
      .info__contents__list__edit
        = link_to edit_information_path(information.id), method: :get do
          編集

      .info__contents__list__delete
        -# %image_tag{'arrow_top.png'} 
        = link_to information_path(information.id), method: :delete do
          削除

  .info__footer
    Copyright Wel-Net 2019.
  
