.show-content
  = render 'offices/shared/user_header'
  .show-content__post
    .show-content__post__more
      .show-content__post__more__name
        %p= @information.name
        %p  さんの投稿
      .show-content__post__more__place
        %p  所在地：
        %p= @information.prefecture
        %p= @information.city
      - if office_signed_in? && current_office.id == @information.office_id
        .show-content__post__more__edit
          = link_to edit_information_path, method: :get ,class: "edit" do
            編集
          = link_to information_path, method: :delete  ,class:"delete"do
            削除
    .show-content__post__container        
      .show-content__post__container__text
        = simple_format(@information.text)
      .show-content__post__container__image
        = image_tag @information.image.url ,size:250 if @information.image.present?

    .show-content__post__comment
      - if current_office 
        = form_with(model: [@information, @comment], url:information_comments_path(@information.id) , local: true,id:"new_comment") do |form|
          = form.text_area :text, placeholder: "コメントを入力してください",class:"form"
          = form.submit "コメント送信",class:"send"
      - elsif current_user
        = form_with(model: [@information, @user_comment], url:information_user_comments_path(@information.id) , local: true,id:"new_comment") do |form|
          = form.text_area :text, placeholder: "コメントを入力してください",class:"form"
          = form.submit "コメント送信",class:"send"
      - else
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .show-content__post__show
      .show-content__post__show__header
        ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          = comment.office.office_name 
          さん
          = comment.created_at.strftime("%Y年%m月%d日")
          ：
          = simple_format(comment.text)
      .show-content__post__show__header
      - if @user_comments
        - @user_comments.each do |user_comment|
          = user_comment.user.nickname 
          さん
          = user_comment.created_at.strftime("%Y年%m月%d日")
          ：
          = simple_format(user_comment.text)
