.show-content
  .show-content__post
    .show-content__post__more
      = link_to edit_information_path, method: :get ,class: "edit" do
        編集
      = link_to information_path, method: :delete  ,class:"delete"do
        削除
    .show-content__post__more__name
      = @information.name
      = @information.prefectures
      = @information.cities
      = simple_format(@information.text)
    .show-content__post__more__image
      = image_tag @information.image.url ,size:250

    .show-content__post__more__container

      - if current_user
        = form_with(model: [@office, @comment], url: "information_comments_path", local: true) do |form|
          = form.text_area :text, placeholder: "コメントする", rows: "2",class:"form"
          = form.submit "送信",class:"send"
      - else
        %p 　　　　　　　　　　　　　　　　　※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .show-content__post__more__comment
      %h4 ＜コメント一覧＞
      -# - if @comments
      - @comments.each do |comment|
        -# = link_to comment.user.nickname, "user_registration_path#{comment.user_id}"
        -#   ：
        = comment.text
      = link_to informations_path(@information),class:"edit-btn" do
        ホーム画面に戻る
